# 1.출력

In [24]:
#q1
print("Hi python")

Hi python

In [25]:
#q2
print("i have")
print(3)
print("books")

i have
3
books

In [26]:
#q2-2
print("my age:")
print(15)
print("my weight:")
print(67.3)

my age:
15
my weight:
67.3

In [27]:
#q3
print("Apple","Banana","Carrot")

Apple Banana Carrot

In [28]:
#q4
print("(@) (@)")
print("( *~* )")
print(" (^^^)")

(@) (@)
( *~* )
 (^^^)

In [29]:
#q5
print("5 + 10 =",15)

5 + 10 = 15

In [30]:
#q5-2
print(5,"= 10 - 5")

5 = 10 - 5

# 형성평가 1

In [70]:
#1
print("Solved at jungol")

Solved at jungol

In [71]:
#2
print("Do you know Python?\nYes I do!")

Do you know Python?
Yes I do!

In [72]:
#3
print("Animal:","Panda")

Animal: Panda

In [73]:
#4
print("  *")
print(" * *")
print("*****")

  *
 * *
*****

In [74]:
#5
print("5 + 6 =",11)
print("10 - 3 =",7)

5 + 6 = 11
10 - 3 = 7

In [75]:
#6
a=90
b=80
c=100
hap=a+b+c
print("kor",a)
print("mat",b)
print("eng",c)
print("hap",hap)

kor 90
mat 80
eng 100
hap 270

# 2.변수와 입력

In [38]:
#q1-1
a=-50
print(a)

-50

In [39]:
#q1-2
a=7
b=3
print(a,b)

7 3

In [40]:
#q1-3
a=3.14
b="pi"
print(b,"=",a)

pi = 3.14

In [41]:
#q1-4
a=10
b=20
print(a,"+",b,"=",a+b)
print(a,"-",b,"=",a-b)

10 + 20 = 30
10 - 20 = -10

In [42]:
#q2-1
ctr=input().strip()
cap=input().strip()
print("Capital of",ctr,"is",cap)

Capital of Korea is Seoul

In [43]:
#q2-2
f1=input().strip()
f2=input().strip()
f3=input().strip()
print(f1,"and",f1)
print(f2,"or",f3)

Apple and Apple
Banana or Orange

In [44]:
#q2-3
f1=input().strip()
f2=input().strip()
f3=input().strip()
f4=input().strip()
print(f3,"vs",f4)
print(f1,"vs",f2)

Park vs Choi
kim vs Lee

In [45]:
#q3-1
age=int(input())
print("I am",age,"years old")

I am 18 years old

In [46]:
#3-2
age1=int(input())
age2=int(input())
print(age1-age2)

4

In [47]:
#3-3
a=int(input())
b=int(input())
c=int(input())
print(a+b+c)

6

In [49]:
#4-1
a=float(input())
b=float(input())
print("좌표 =(",a,",",b,")")

좌표 =( 1.2 , 3.4 )

In [50]:
#4-2
a=int(input())
b=float(input())
print(a,"+",b,"=",a+b)

5 + 2.25 = 7.25

In [51]:
#4-3
a=float(input())
b=float(input())
print(a+5)
print(b-5)

15.3
5.5

In [ ]:
#5-1
x,y=input().split()
x=int(x)
y=int(y)
print(y)
print(x)

3
2

In [57]:
#5-2
a,b,c,d=input().split()
a=int(a)
b=int(b)
c=int(c)
d=int(d)
print("total sum =",a+b+c+d)

total sum = 10

In [59]:
#5-3
a,b=input().split()
a=int(a)
b=int(b)
print(a,"**",b,a**b)

2 ** 4 16

In [66]:
#5-4
a,c=input().split()
b,d=input().split()
a=int(a)
b=int(b)
c=int(c)
d=int(d)
print(a*b+c*d)

11

In [67]:
#6-1
f1,y1=input().split()
f2,y2=input().split()
y1=int(y1)
y2=int(y2)
print(f1,"was born in",y1)
print(f2,"was born in",y2)
print(f1,"is",y2-y1,"years older than",f2)

Jung was born in 2008
Kang was born in 2013
Jung is 5 years older than Kang

In [69]:
#6-2
loc=input()
t,dis=input().split()
t=int(t)
dis=float(dis)
print("location:",loc,"\ntime:",t,"hours","\ndistance:",dis,"km")

location: seoul
time: 3 hours
distance: 10.5 km

# 형성평가 2

In [77]:
#1
name="chulsoo"
score=100
print("my name is",name)
print("my score is",score)

my name is chulsoo
my score is 100

In [ ]:
#2
str1=input().strip()
str2=input().strip()
str3=input().strip()
print(str3,"graduated",str1,str2,"school")

Minsoo graduated beomgye Middle school

In [ ]:
#3
a,b,c=input().split()
a=int(a)
b=int(b)
c=int(c)
print(a,"+",b,"-",c,"=",a+b-c)

5 + 7 - 9 = 3

In [82]:
#4
a=float(input())
b=float(input())
print("total =",a+b)

total = 15.8

In [83]:
#5
a,b=input().split()
a=int(a)
b=float(b)
print(a,"+",b,"=",a+b)

5 + 7.3 = 12.3

In [84]:
#6
yard=float(input())
cm=yard*91.44
print(yard,"yarf =",cm)

10.1 yarf = 923.544

# 3.연산자

In [86]:
#1-1
a,b=input().split()
a=int(a)
b=int(b)
print(a,"/",b,"=",a//b,'...',a%b)

5 / 3 = 1 ... 2

In [89]:
#1-2
a,b,c=input().split()
a=int(a)
b=int(b)
c=int(c)
print("sum =",a+b+c,)
print("avg =",(a+b+c)//3)

sum = 160
avg = 53

In [ ]:
#2-1
a=int(input())
print(a)
a+=10
print(a)

15
25

In [ ]:
#2-2
a=int(input())
b=int(input())
a-=10
b*=2
print(a,'+',b,'=',a+b)

20 + 40 = 60

In [94]:
#2-3
a,b=input().split()
a=int(a)
b=int(b)
a%=2
b+=10
print(a,b,a+b)

1 15 16

In [95]:
#3
a,b=input().split()
a=int(a)
b=int(b)
rst1=(a==b)
rst2=(a!=b)
print(rst1)
print(rst2)

False
True

In [96]:
#4
a,b=input().split()
a=int(a)
b=int(b)
print(a,'>',b,'==',a>b)
print(a,'>=',b,'==',a>=b)
print(a,'<',b,'==',a<b)
print(a,'<=',b,'==',a<=b)

10 > 20 == False
10 >= 20 == False
10 < 20 == True
10 <= 20 == True

In [99]:
#5
a=True
b=False
c=False
print(not a)
print(a and b)
print(a or b)
print(a and (a or c))
print(a or (a and c))
print(not b or (a and not c))

False
False
True
True
True
True

In [102]:
#6
a,b,c=input().split()
a=int(a)
b=int(b)
c=int(c)
print((a>b) and (a>c))
print(a==b==c)

True
False

# 형성평가 3

In [ ]:
#1
a=int(input())
b=int(input())
c=int(input())
d=int(input())
print('tot:',a+b+c+d)
print('avg:',(a+b+c+d)//4)

tot: 353
avg: 88

In [104]:
#2
N,M=input().split()
N=int(N)
M=int(M)
print(N//M,'...',N%M)

6 ... 2

In [105]:
#3
a=int(input())
b=int(input())
a*=2
b-=3
print("width =",a)
print("length =",b)
print("area =",a*b)

width = 30
length = 22
area = 660

In [108]:
#4
a,b,c=input().split()
a=int(a)
b=int(b)
c=int(c)
print((a*b*c)-(a+b+c))

50

In [111]:
#5
a1,t1=input().split()
a2,t2=input().split()
a1=int(a1)
a2=int(a2)
t1=int(t2)
t2=int(t2)
print((a1<a2)and(t1<t2))

False

In [112]:
#6
x=True
y=False
print('x and y ->',x and y)
print('x or y ->',x or y)
print('not x ->',not x)
print('not y ->',not y)

x and y -> False
x or y -> True
not x -> False
not y -> True